* {
    padding: 0;
    margin: 0;
}

body {
	width: 100%;
	height: 100vh;

	background: #fff;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0.1em, transparent 0.1em),
		linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0.1em, transparent 0.1em);
	background-size: 2em 2em;
}
